<ion-view view-title="GSA Travel">
    <ion-content>
        <form ng-submit="travelSearch()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">I'm travelling to</span>
                    <input type="text" ng-model="searchData.origin" placeholder="Tacoma, WA">
                </label>
                <label class="item item-input">
                    <span class="input-label">From</span>
                    <input type="text" ng-model="searchData.destination" placeholder="Phoenix, AZ">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="searchData.date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Start Date</span>
                    <input type="date" ng-model="searchData.startDate">
                </label>
                <label class="item item-input">
                    <span class="input-label">End Date</span>
                    <input type="date" ng-model="searchData.endDate">
                </label>
                <ul class="list">
                    <li class="item item-toggle">
                        Show me City Pairs Flight Info
                        <label class="toggle">
                            <input type="checkbox" ng-model="searchData.showCP">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Show me SmartPay Tax Info
                        <label class="toggle">
                            <input type="checkbox" ng-model="searchData.showSP">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Show me Weather Info
                        <label class="toggle">
                            <input type="checkbox" ng-model="searchData.showWeather">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Search</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>