<ion-view view-title="Search">
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">I'm travelling to</span>
                    <input type="text" ng-model="userSearch.params.destination" placeholder="Tacoma, WA"></input>
                </label>
                <label class="item item-input">
                    <span class="input-label">From</span>
                    <input type="text" ng-model="userSearch.params.origin" placeholder="Phoenix, AZ"></input>
                </label>
                <!--<label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="searchData.date">
                </label>-->
                <label class="item item-input">
                    <span class="input-label">Start Date</span>
                    <ionic-datepicker idate="userSearch.params.startDate" disablepreviousdates="true" callback="datePickerCallback">
                        <button class="button button-block button-light"> {{ userSearch.params.startDate | date:'MMMM dd yyyy' }} </button>
                    </ionic-datepicker>
                </label>
                <label class="item item-input">
                    <span class="input-label">End Date</span>
                    <ionic-datepicker idate="userSearch.params.endDate" disablepreviousdates="true" callback="datePickerCallback">
                        <button class="button button-block button-light"> {{ userSearch.params.endDate | date:'MMMM dd yyyy' }} </button>
                    </ionic-datepicker>
                </label>
                <ul class="list">
                    <li class="item item-toggle">
                        Show City Pairs Flight Info
                        <label class="toggle">
                            <input type="checkbox" ng-model="userSearch.params.showCP"></input>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Show SmartPay Tax Info
                        <label class="toggle">
                            <input type="checkbox" ng-model="userSearch.params.showSP"></input>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Show Weather Info
                        <label class="toggle">
                            <input type="checkbox" ng-model="userSearch.params.showWeather"></input>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
                <label class="item">
                    <button class="button button-block button-positive" type="submit" ng-click="searchForm()" ng-disabled="searchForm.$invalid">Search</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>